@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@theme{
 
  --color-navtoptext:#8C94A3;
  --color-navtophovertext:#FFFFFF;
  --color-brand:#FF6636;
  --color-primary:#1D2026;
  --color-boxes:#E9EAF0;
  --color-boxestext:#4E5566;
  --color-secondarybtn:#FFEEE8;
  --color-ternary:#B7BAC7;
  --color-fournary:#A1A5B3;
  --color-fivenary:#8C94A3;
  --color-footericon:#363B4766;
  --font-brand:"Inter", sans-serif;


}