# PORT=8080
# DB_URL=mongodb+srv://silmasubah105_db_user:rRQFEJsI4Qs1NeIq@cluster0.ycyfyya.mongodb.net/hazirakhata?appName=Cluster0
# CLOUDINARY_URL=cloudinary://415742611815774:tmtrftAYPnzS8VuL3PuBcEE4Rhc@dpmkmpjfd
# SUPERADMIN_NAME=smsowner
# SUPERADMIN_Email=superadmin@sch.com.bd
# SUPERADMIN_PASS=Sp1234@!
# BASE_URL=/api/v1
# BACKEND_URL = http://localhost:8080

# JWT_SECRET_KEY=QWERTYUIOPASDFGHJKLZXCVBNM1234567890abcdefABCDEFGH
# NODE_DEV=local
# SMTP_HOST=smtp.gmail.com
# SMTP_USER=silmasubah105@gmail.com
# SMTP_PASS=jrdnpsvhgiwgzfvp
# SMTP_PORT=587
# SMTP_SECURE=false
# SMTP_FROM=From school team <silmasubah105@gmail.com>